.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #2a459e;
  border-radius: 4px;
  background: #2e32ff;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:hover,
.button:active {
  background: #4356ff;
  border-color: #4356ff;
}
