.Navbar {
    height: 10vh;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(58, 58, 58);
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}